<ng-template [ngIf]="roleList">
  <p *ngIf="error" class="mt-3 alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Error:</strong> There was a problem deleting your Role. Please try again.
  </p>
  <p *ngIf="message" class="mt-3 alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
   Role has been deleted successfully.
  </p>
  <ng-template [ngIf]="roleList.length">
    <div class="col-md-12">
      <table class="table table-sm table-bordered table-hover table-responsive-sm">
        <thead class="thead-dark">
          <th scope="row">#</th>
          <th scope="row">Name
          </th>
          <th scope="row">Description
          </th>
          <th scope="row">Action
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let data of roleList;let i = index">
            <td>{{i+1}}</td>
            <td>{{data.name}}</td>
            <td>{{data.description}}</td>
            <td>
              <button type="button" class="btn btn-primary" [routerLink]="['/role/RoleUpdate/', data.id]" [queryParams]="{tab: 'edit'}"
                [ngClass]="{'active': utils.tabIs(tab, 'edit')}">
                <i class="fas fa-edit ">
                </i>
              </button>
              <button type="button " (click)="delete(data.id) " data-target="#update " data-toggle="modal " class="btn
                btn-danger ">
                <i class="far fa-trash-alt "></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>

  <!-- No Role found -->
  <p *ngIf="!roleList.length " class="alert alert-info ">
    No Role found.
  </p>
</ng-template>

<!-- Error loading Role -->
<p *ngIf="error " class="alert alert-danger mt-3 ">
  <strong>Oops!</strong> There was an error retrieving Roles.
</p>