<ng-container>
  <div class="container">
    <div class="col-md-8 order-md-1">
      <h3 class="mb-3" *ngIf="submitBtnText!='Update'">Create User</h3>

      <form class="form-group" [formGroup]="userForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label class="control-label " for="firstName">First Name:</label>
          <input id="firstName" type="text" class="form-control" formControlName="firstName" [minlength]="ufs.textMin">
          <div *ngIf="formErrors.firstName" class="small text-danger formErrors" [innerHTML]="formErrors.firstName">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label " for="lastName">Last Name:</label>
          <input id="lastName" type="text" class="form-control" formControlName="lastName" [minlength]="ufs.textMin">
          <div *ngIf="formErrors.lastName" class="small text-danger formErrors" [innerHTML]="formErrors.lastName">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label " for="login">Login:</label>
          <input id="login" type="text" class="form-control" formControlName="login" [minlength]="ufs.textMin">
          <div *ngIf="formErrors.login" class="small text-danger formErrors" [innerHTML]="formErrors.login">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label " for="password">Password:</label>
          <input id="password" type="password" class="form-control" formControlName="password" [minlength]="ufs.textMin">
          <div *ngIf="formErrors.password" class="small text-danger formErrors" [innerHTML]="formErrors.password">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label " for="confirmPassword">Confirm Password:</label>
          <input id="confirmPassword" type="password" class="form-control" formControlName="confirmPassword" [minlength]="ufs.textMin">
          <div *ngIf="formErrors.confirmPassword" class="small text-danger formErrors">Password not matched
          </div>
        </div>
        <div class="form-group">
          <label class="control-label " for="dob">Date Of Birth:</label>
          <input id="datepicker" type="date" class="form-control" formControlName="dob">
          <div *ngIf="formErrors.dob" class="small text-danger formErrors" [innerHTML]="formErrors.dob">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label " for="mobileNo">Mobile No:</label>
          <input id="mobileNo" type="text" class="form-control" formControlName="mobileNo" [pattern]="ufs.mobilePattern" [maxlength]="ufs.textMax">
          <div *ngIf="formErrors.mobileNo" class="small text-danger formErrors" [innerHTML]="formErrors.mobileNo">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label " for="roleId">Role Id:</label>
          <input id="roleId" type="text" class="form-control" formControlName="roleId" [minlength]="ufs.textMin">
          <div *ngIf="formErrors.roleId" class="small text-danger formErrors" [innerHTML]="formErrors.roleId">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="gender">Gender:</label>
          <div class="form-check form-check-inline">
            <input type="radio" formControlName="gender" id="male" value="Male">
            <label class="form-check-label" for="male">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" formControlName="gender" id="female" value="Female">
            <label class="form-check-label" for="female">Female</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" formControlName="gender" id="other" value="Other">
            <label class="form-check-label" for="other">Other</label>
          </div>
        </div>
        <!-- Submit -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary" [attr.disabled]="userForm.invalid || submitting ? true : null" [innerText]="submitBtnText"></button>
          <p *ngIf="error" class="mt-3 alert alert-danger">
            <strong>Error:</strong> There was a problem creating User. Please try again.
          </p>
          <p *ngIf="message" class="mt-3 alert alert-success">
            <strong>Congratulation:</strong>User has been {{submitBtnText}}d successfully.
          </p>
        </div>
      </form>
    </div>
  </div>
</ng-container>